<div class="list-group">
  <a (click)="goToReply(item)" class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let item of posts | async">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{item.subreddit}}</h5>
      <small>{{item.author}} | {{item.timestamp | date: "MMMM d hh:mm:a"}}</small>
    </div>
    <p class="mb-1">{{item.title}}</p>
  </a>
</div>