<span [routerLink]="['/']" class="glyphicon glyphicon-menu-left" aria-hidden="true"> Back </span>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{item.title}}</h4>
    <p class="card-text">{{item.author}} | {{item.subreddit}}</p>
    <small class="card-text"><a href="{{item.permalink}}">{{item.permalink}}</a></small> <br>
    
    <input #replyInput [(ngModel)]="replyValue" type="text" class="form-control" id="replyInputBox" aria-describedby="text" placeholder="Enter your reply...">
     <button (click)='saveReply(item.id, replyValue); replyInput.value = ""' type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
